{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5 card p-4">

        <h2>Reset Password</h2>

        <p>
            Enter your email address and we will send you
            instructions to reset your password.
        </p>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary w-100">
                Send Reset Link
            </button>

        </form>

    </div>
</div>

{% endblock %}